In [4]:
import mysql.connector
import openpyxl

# Define a function to connect to MySQL and create a table if not exists
def create_database():
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="",
        database="data_imports"
    )
    cursor = conn.cursor()
    cursor.execute('''CREATE TABLE IF NOT EXISTS villages
                      (subcounty VARCHAR(255), village VARCHAR(255))''')
    conn.commit()
    conn.close()

# Define a function to insert values into the MySQL database
def insert_values(region, district):
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="",
        database="data_imports"
    )
    cursor = conn.cursor()
    cursor.execute("INSERT INTO villages (subcounty, village) VALUES (%s, %s)", (region, district))
    conn.commit()
    conn.close()

# Load the workbook
workbook = openpyxl.load_workbook("temp.xlsx")
worksheet = workbook.active

# Transpose the data to print column-wise
transposed_data = zip(*worksheet.iter_rows(values_only=True))

# Get the values from the desired columns (1st and 64th columns, 0-indexed)
first_column_values = []
sixty_third_column_values = []

for i, row in enumerate(transposed_data):
    if i == 61:
        sixty_third_column_values = row
    elif i == 63:
        first_column_values = row
        break

# Initialize a set to store unique values
unique_values = set()

create_database()

# Insert the values into the database
for value1, value2 in zip(first_column_values, sixty_third_column_values):
    if (value1, value2) not in unique_values:
        insert_values(value1, value2)
        unique_values.add((value1, value2))

# Print the values from both columns column-wise, ignoring duplicates
print("Values from column 0 and column 63:")
for value1, value2 in zip(first_column_values, sixty_third_column_values):
    if (value1, value2) not in unique_values:
        print(f"{value1} | {value2}")
        unique_values.add((value1, value2))

Values from column 0 and column 63: